.slides
  %section
    :markdown
      # Introduction

  %section
    :markdown
      ## Who am I?

      * George Mendoza
      * [http://github.com/gsmendoza](http://github.com/gsmendoza)

  %section.section-logo-large
    :markdown
      ![Texas Instruments](/images/texas-instruments.jpg)

  %section
    :markdown
      ## Manifesto for Agile Software Development

      * __Individuals and interactions__ over processes and tools
      * __Working software__ over comprehensive documentation
      * __Customer collaboration__ over contract negotiation
      * __Responding to change__ over following a plan

  %section.section-logo
    .image-group
      :markdown
        ![Rails logo](/images/rails.png)
        ![Rails overview](/images/rails-overview.gif)

  %section.section-logo-large
    :markdown
      ![NextLogic](/images/logo_nextLogic.gif)

  %section.section-logo-large
    :markdown
      ![oDesk](/images/odesk.svg)

  %section
    :markdown
      ## References and Images
      * http://agilemanifesto.org
      * https://plus.google.com/u/0/+TexasInstruments/posts
      * http://rubyonrails.org
      * http://www.nextlogic.biz

  %section
    :markdown
      [Back to index](/presentations)
      