.slides
  %section
    :markdown
      ## Index

      1. [Installing and Running Rails](/presentations/10-installing-and-running-rails.html)

  %section
    :markdown
      ## Speakers
      
      * [George Mendoza](/presentations/0-gsmendoza-introduction.html)


