.slides
  %section
    :markdown
      ## Index

      1. [Installation](/presentations/10-installation.html)

  %section
    :markdown
      ## Speakers
      
      * [George Mendoza](/presentations/0-gsmendoza-introduction.html)


