.slides
  %section
    :markdown
      ## Index

    - Presentation::DATA.select{|p| p.category == 'lesson'}.each do |presentation|
      :markdown
        1. [#{presentation.title}](#{presentation.path})

  %section
    :markdown
      ## Speakers

    - Presentation::DATA.select{|p| p.category == 'speaker'}.each do |presentation|
      :markdown
        1. [#{presentation.title}](#{presentation.path})


