%article
  %h1
    = Presentation.find(:installation).title

  %section.exercise.step
    :markdown
      ## Exercise 1: Installing and running a Rails app.

      #### Issue

          When I go to http://localhost:3000
          I should see my Rails website
          But instead my browser says it cannot display the webpage

      #### Cause

      * Rails is not installed.
      * Rails is not running.

      #### Solution

      For Windows, download Rails installer (Ruby 1.9) from
      [http://railsinstaller.org](http://railsinstaller.org) and install.
      You will be asked to enter your name and email.

      Once installed, open Windows Powershell and run

          rails new trips-app
          cd trips-app
          rails server

      #### Result

      Congratulations! You should now see your Rails app at http://localhost:3000.

  %section.exercise.step
    :markdown
      ## Exercise 2: Closing the Rails app

      #### Goal

          When I go to http://localhost:3000
          Then I should no longer see my Rails website running

      #### Solution

      Press `Ctrl-C` then `Y` to terminate batch job.

      #### Result

      If you refresh the browser, http://localhost:3000 should now display
      "Internet Explorer cannot display the webpage"
