%article
  %h1
    Lesson 1:
    = Presentation.find(:installation).title

  %section.exercise
    :markdown
      ## Exercise 1: Installing and running a Rails app.

    %pre.goal
      :preserve
        Given Rails is installed
        And I have created a rails app
        When I run the rails app
        And I go to http://localhost:3000
        Then I should see my Rails website

    %section.step
      :markdown
        ### Step 1: Given Rails is installed

        For Windows, download Rails installer (Ruby 1.9) from
        [http://railsinstaller.org](http://railsinstaller.org) and install.
        You will be asked to enter your name and email.

    %section.step
      :markdown
        ### Step 2: And I have created the app and am now running it

        Open Windows Powershell and run

            rails new trips-app
            cd trips-app
            rails server

    %section.step
      :markdown
        ### Final Result

            Given Rails is installed
            And I have created a rails app
            When I run the rails app
            And I go to http://localhost:3000
            Then I should see my Rails website

    %section.exercise
      :markdown
        ## Exercise 2: Closing the Rails app

    %pre.goal
      :preserve
          Given my rails app is running
          When I view the running app in the console
          And I press `Ctrl-C` then `Y` to terminate batch job.
          And I view http://localhost:3000
          Then I should no longer see my Rails website running
