%article
  %section
    :markdown
      # #{Presentation.find(:installation).title}

  %section.section-logo
    .image-group
      :markdown
        ![Rails logo](/images/rails.png)
        ![Rails overview](/images/rails-overview.gif)

    :markdown
      * Created in 2003 by David Heinemeier Hansson.
      * Some popular examples of websites using Rails are
        [BaseCamp](http://www.basecamphq.com/?source=rails),
        [Twitter](http://www.twitter.com/) and
        [GitHub](github.com).
      * Convention over configuration = less code
      * Written in the Ruby programming language

  %section.section-logo
    .image-group
      :markdown
        ![Ruby](/images/ruby-logo.gif)

    :markdown
      * A dynamic, open source programming language with a focus on simplicity and
      productivity. It has an elegant syntax that is natural to read and easy to
      write.

      * Created by Yukihiro Matsumoto.

  %section
    :markdown
      ## "Error driven development"

      Borrowed from Test-Driven Development:

      1. Watch it fail.
      2. Fix it with minimum solution.
      3. Clean it up.

  %section
    :markdown
      ## Exercise 1: Installing and running Rails

  %section
    :markdown
      ## Goal
      * __browser__: http://localhost:3000
      * __error__: Internet Explorer cannot display the webpage

  %section
    :markdown
      ## Step 1: Rails installer

      On Windows, download Rails installer (Ruby 1.9) from [http://
      railsinstaller.org](http://
      railsinstaller.org) and install. You will be asked to enter your name
      and email.

  %section
    :markdown
      ## Step 2: Create Rails application

          cmd > rails new trips-app
          cmd > cd trips-app
          cmd > rails server

    %aside.notes
      :markdown
        * `bundle install` may take awhile to finish.
        * You may have to
          - make Windows firewall allow Ruby to access private network.
          - turn intranet settings in IE9.

  %section
    :markdown
      ## Result

      ![Welcome aboard: You’re riding Ruby on Rails!"](/images/riding_rails_environment_4_0.png)

  %section
    :markdown
      ## What's happening?

      ![Webserver](/images/webserver-basic-sm.gif)

          Started GET "/" for 127.0.0.1 at 2013-08-07 18:03:44 +0800
          Processing by Rails::WelcomeController#index as HTML
            Rendered C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/railties-4.0.0.rc2/lib/rails/templates/rails/welcome/index.html.erb (0.0ms)
          Completed 200 OK in 13ms (Views: 0.0ms | ActiveRecord: 0.0ms)

  %section
    :markdown
      ## Exercise 2: Closing Rails

      ### Action
          cmd > Press Ctrl-C then `Y` to terminate batch job.

      ### Result

      If you refresh the browser, http://localhost:3000 should now display "Internet Explorer cannot display the webpage"

  %section
    :markdown
      ## References and Images

      * http://computer.howstuffworks.com/web-server1.htm
      * http://rubyonrails.org
      * http://ruby.railstutorial.org
      * http://www.ruby-lang.org/en
