%article
  %h1
    Lesson 2:
    = Presentation.find(:database_crud).title

  %section.exercise
    :markdown
      ## Exercise 1: List itineraries

    %pre.goal
      Given I am in the rails console
      When I enter Itinerary.all
      Then I should see all the itineraries of the application

    %section.step
      :markdown
        ### Step 0: Install and configure Geany

        * Download from [geany.org](geany.org) and install

        * Configure Geany:

                Menu
                  Edit
                    Preferences
                      Editor
                        Indentation
                          Width: 2
                          Type: Spaces


    %section.step
      :markdown
        ### Issue 1: uninitialized constant Itinerary

            Given I am in the rails console
            When I enter Itinerary.all
            Then I should see all the itineraries of the application
            But instead I see the following error:
              NameError: uninitialized constant Itinerary

        #### Solution

        Create an Itinerary Class

            # app/models/itinerary.rb
            class Itinerary
            end

    %section.step
      :markdown
        ### Issue 2: Itinerary.all is undefined

            Given I am in the rails console
            When I enter Itinerary.all
            Then I should see all the itineraries of the application
            But instead I see the following error:
              NoMethodError: undefined method `all' for Itinerary:Class

        #### Solution

        Make Itinerary an ActiveRecord

            # app/models/itinerary.rb
            class Itinerary < ActiveRecord::Base
            end

    %section.step
      :markdown
        ### Issue 3: Itinerary.all is STILL undefined

            Given I am in the rails console
            And I have changed Itinerary to an ActiveRecord
            When I enter Itinerary.all
            Then I should see all the itineraries of the application
            But instead I STILL see the following error:
              NoMethodError: undefined method `all' for Itinerary:Class

        #### Solution

        Reload the console. In the rails console, run

            reload!

    %section.step
      :markdown
        ### Issue 4: No such table for Itinerary

            Given I am in the rails console
            When I enter Itinerary.all
            Then I should see all the itineraries of the application
            But instead I see the following error:

              [1m←[35mItinerary Load (0.0ms)←[0m  SELECT "itineraries".* FROM "itineraries"
              SQLite3::SQLException: no such table: itineraries: SELECT "itineraries".* FROM "itineraries"
              ActiveRecord::StatementInvalid: SQLite3::SQLException: no such table: itineraries:
                SELECT "itineraries".* FROM "itineraries"


        #### Solution

        Create a database table itineraries.

        1. In the Rails app directory, run

                rails generate migration create_itineraries

        1. Edit the generated migration file

                # /db/migrations/2013_****_create_itineraries.rb
                class CreateItineraries < ActiveRecord::Migration
                  def change
                    create_table :itineraries do |t|
                      t.string "location"
                      t.date "travel_on"
                    end
                  end
                end

        1. In the Rails app directory, run

                rake db:migrate

    %section.step
      :markdown
        ### Final Result

            Given I am in the rails console
            When I enter Itinerary.all
            Then I should see all the itineraries of the application
            And I should see that Itinerary doesn't have itineraries :)

              Itinerary.all
              => ←[1m←[36mItinerary Load (7.8ms)←[0m  ←[1mSELECT "itineraries".* FROM "itineraries"←[0m
              => #<ActiveRecord::Relation []>

  %section.exercise
    :markdown

      ## Exercise 2: Create an itinerary

    %pre.goal
      :preserve
        Given I am in the rails console
        When I initialize and save a new itinerary

          itinerary = Itinerary.new
          itinerary.location = 'Baguio'
          itinerary.travel_on = Date.new(2013, 12, 25)
          itinerary.save

        Then I should see that the new itinerary has been saved

  %section.exercise
    :markdown

      ## Exercise 3: Find a specific itinerary

    %pre.goal
      :preserve
        Given I am in the rails console
        When I enter

          Itinerary.find(1)

        Then I should see something like

          => #<Itinerary id: 1, location: "Baguio", travel_on: "2013-12-25">


  %section.exercise
    :markdown
      ## Exercise 4: Edit an itinerary

    %pre.goal
      :preserve
        Given I am in the rails console
        When I change the location of the itinerary from Baguio to Manila

          itinerary = Itinerary.find(1)
          itinerary.location = 'Manila'
          itinerary.save

        And I reload the Itinerary

          itinerary = Itinerary.find(1)

        Then I should see that the location of the itinerary is Manila

          itinerary.location
          => "Manila"

  %section.exercise
    :markdown
      ## Exercise 5: Delete an itinerary

    %pre.goal
      :preserve
        Given I am in the rails console
        When I destroy the itinerary

          itinerary = Itinerary.find(1)
          itinerary.destroy

        And I reload the itinerary

          Itinerary.find(1)

        Then I should see the following error:

          => ActiveRecord::RecordNotFound: Couldn't find Itinerary with id=1
