.slides
  %section
    :markdown
      # #{Presentation.find(:show_itinerary).title}

  %section
    :markdown
      ## Step 0: Have at least one itinerary

      * Create another itinerary in rails console.
      * In the following slides, we assume that there's an itinerary with id 2.

  %section
    :markdown
      ## Goal

          browser > http://localhost:3000/itineraries/2

      ### Result

          browser => No route matches [GET] "/itineraries/2"


  %section
    :markdown
      ## Step 1: Add the itineraries route

          # config/routes
          TripsApp::Application.routes.draw do
            resources :itineraries
          end

      ### Result

          browser => uninitialized constant ItinerariesController

    %aside.notes
      :markdown
        You can delete all the ruby comments.

  %section
    :markdown
      ## Step 2: Add itineraries controller

          # app/controllers/itineraries_controller.rb
          class ItinerariesController < ApplicationController
          end

      ### Result

          browser =>
            Unknown action: The action 'show' could not be found for ItinerariesController


  %section
    :markdown
      ## Step 3: Add show action to ItinerariesController

          # app/controllers/itineraries_controller.rb
          class ItinerariesController < ApplicationController
            def show
            end
          end

      ### Result

          browser =>
            Template is missing: Missing template itineraries/show, application/show with
            { :locale=>[:en],
              :formats=>[:html],
              :handlers=>[:erb, :builder, :raw, :ruby, :jbuilder, :coffee]}.
            Searched in: * "C:/Users/George Mendoza/trips-app/app/views"

  %section
    :markdown
      ## Step 4: Add itineraries/show template

          # app/views/itineraries/show.html.erb
          <%= debug Itinery.find(params[:id]) %>

      ### Result

          browser =>
            --- !ruby/object:Itinerary
            attributes:
              id: 2
              location: Baguio
              travel_on: 2013-08-12

  %section
    :markdown
      ## Step 5: Prettify Show Itinerary page

          # app/views/itineraries/show.html.erb
          <% itinerary = Itinerary.find(params[:id]) %>

          <h1>Itinerary <%= itinerary.id %></h1>

          <ul>
            <li>Location: <%= itinerary.location %></li>
            <li>Travel Date: <%= itinerary.travel_on %></li>
          </ul>

  %section
    :markdown
      ## Step 6.1: Clean up: do not interact with database directly in views

          # app/views/itineraries/show.html.erb
          <h1>Itinerary <%= @itinerary.id %></h1>

          <ul>
            <li>Location: <%= @itinerary.location %></li>
            <li>Travel Date: <%= @itinerary.travel_on %></li>
          </ul>

      ## Result

          browser =>
            Showing C:/Users/George Mendoza/trips-app/app/views/itineraries/show.html.erb
            where line #1 raised:
            undefined method `id' for nil:NilClass
            Line 1: <h1>Itinerary <%= @itinerary.id %></h1>

  %section
    :markdown
      ## Step 6.2: Clean up: make controller set up @itinerary

          # app/controllers/itineraries_controller.rb
          class ItinerariesController < ApplicationController
            def show
              @itinerary = Itinerary.find(params[:id])
            end
          end

  %section
    :markdown
      ## Step 7: Test another itinerary

      * Create another itinerary in rails console.
      * View the itinerary from the website.
