%article
  %section
    :markdown
      # #{Presentation.find(:delete_itinerary).title}

  %section
    :markdown
      ## Exercise 1: Delete an Itinerary

          When I view an itinerary
          Then I should see a button to delete the itinerary
          When I click the delete button
          Then I should see that the itinerary has been deleted

  %section
    :markdown
      ## Step 1: I should see a button to delete the itinerary

          # app/views/itineraries/show.html.erb
          <%= form_for(@itinerary, method: :delete) do |f| %>
            <p>
              <%= f.submit, value: 'Delete Itinerary' %>
            </p>
          <% end %>


      ### Result
          When I click the delete button
          Then I should be informed that the itinerary has been deleted
          But instead I see
            Unknown action
            The action 'destroy' could not be found for ItinerariesController

  %section
    :markdown
      ## Step 2: Add destroy action to ItinerariesController

          # app/controllers/itineraries_controller.rb
          class ItinerariesController < ApplicationController
            def destroy
            end
          end

      ### Result

          browser =>
            Template is missing: Missing template itineraries/destroy, application/destroy with
            { :locale=>[:en],
              :formats=>[:html],
              :handlers=>[:erb, :builder, :raw, :ruby, :jbuilder, :coffee]}.
            Searched in: * "C:/Users/George Mendoza/trips-app/app/views"

  %section
    :markdown
      ## Step 3: Destroy the itinerary, then show the list of itineraries

          # app/controllers/itineraries_controller.rb
          class ItinerariesController < ApplicationController
            def destroy
              @itinerary = Itinerary.find(params[:id])
              @itinerary.destroy
              redirect_to action: 'index'
            end
          end

  %section
    :markdown
      ## Exercise 2: Notify me when the itinerary is deleted

          When I view an itinerary
          Then I should see a button to delete the itinerary
          When I click the delete button
          Then I should see that the itinerary has been deleted
          And I should be informed that it has been deleted

  %section
    :markdown

      ## Step 1: Try adding a notice to the index page

          # app/views/itineraries/index.html.erb
          <strong>Notice: <%= @notice %></strong>

          # app/controllers/itineraries_controller.rb
          def destroy
            @itinerary = Itinerary.find(params[:id])
            @itinerary.destroy
            @notice = "You have successfully deleted a itinerary"
            redirect_to action: 'index'
          end

      ### Result

          When I click the delete button
          And I should be informed that it has been deleted
          But instead I am not informed that it has been deleted

  %section
    :markdown

      ## Step 2: Change the notice to a flash message

          # app/views/itineraries/index.html.erb
          <strong>Notice: <%= flash[:notice] %></strong>

          # app/controllers/itineraries_controller.rb
          def destroy
            @itinerary = Itinerary.find(params[:id])
            @itinerary.destroy
            flash[:notice] = "You have successfully deleted a itinerary"
            redirect_to action: 'index'
          end
