.slides
  %section
    :markdown
      # #{Presentation.find(:validate_itinerary).title}

  %section
    :markdown
      ## Exercise 1: Validate an Itinerary

          Given I am creating an itinerary
          And the itinerary's location is blank
          When I try to save the itinerary
          Then I should see that the itinerary isn't saved
          And I should see an error saying the itinerary's location can't be blank

      ### Result

          irb > itinerary = Itinerary.new
          => => #<Itinerary id: nil, location: nil, travel_on: nil>

          irb > itinerary.save
          => true

  %section
    :markdown
      ## Step 1: Validate presence of location

          # app/models/itinerary.rb
          class Itinerary < ActiveRecord::Base
            validates :location, presence: true
          end

      ### Result

          !!! Need to exit rails console to reload !!!

          irb > itinerary = Itinerary.new
          => => #<Itinerary id: nil, location: nil, travel_on: nil>

          irb > itinerary.save
          => false

          irb > itinerary.errors
          => #<ActiveModel::Errors:0x41ba8c8
            @base=#<Itinerary id: nil, location: nil, travel_on: nil>,
            @messages={:location=>["can't be blank"]}>

          irb > itinerary.location = 'Baguio'
          irb > itinerary.save
          => true

  %section
    :markdown
      ## Exercise 2: Validate new itineraries

          Given I am creating an itinerary
          When I try to save an invalid itinerary
          Then I should see an error saying the itinerary's location can't be blank
          But instead I see
            ActionController::UrlGenerationError in ItinerariesController#create
            No route matches {:action=>"show", :id=>nil, :controller=>"itineraries"}
            Extracted source (around line #18):
            redirect_to action: 'show', id: @itinerary.id

  %section
    :markdown

      ## Step 2: create action should render the new page if invalid

          # app/controllers/itineraries_controller.rb
          def create
            @itinerary = Itinerary.new
            @itinerary.attributes = params[:itinerary].permit(:location, :travel_on)
            if @itinerary.save
              redirect_to action: 'show', id: @itinerary.id
            else
              render action: 'new'
            end
          end

      ### Result

          Given I am creating an itinerary
          When I try to save an invalid itinerary
          Then I should see an error saying the itinerary's location can't be blank
          But I don't see any error

  %section
    :markdown

      ## Step 3: add error messages to form

          # app/views/itineraries/_form.html.erb
          <ul>
          <% @itinerary.errors.full_messages.each do |full_message| %>
            <li><%= full_message %></li>
          <% end %>
          </ul>

  %section
    :markdown
      ## Exercise 3: Validate existing itineraries

          Given I am editing an itinerary
          When I try to save an invalid itinerary
          Then I should see an error saying the itinerary's location can't be blank
          But instead I see the Show Page of the itinerary

  %section
    :markdown

      ## Step 4: update action should render the edit page if invalid

          # app/controllers/itineraries_controller.rb
          def update
            @itinerary = Itinerary.find(params[:id])
            @itinerary.attributes = params[:itinerary].permit(:location, :travel_on)
            if @itinerary.save
              redirect_to action: 'show', id: @itinerary.id
            else
              render action: 'edit'
            end
          end

      ### Result

          Success!!!
